.detailWrap {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 30px 260px;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.title {
    font-size: 36px;
}
.titleL {
    font-size: 30px;
    font-weight: lighter;
}
.titleX {
    font-size: 52px;
    font-weight: bold;
}
.fontMedium {
    font-size: 24px;
}
.fontSmall {
    font-size: 16px;
}
.fontBlue {
    color: #35F2FE;
}
.detail {
    display: flex;
    justify-content: space-between;
}
.detailLeft {
    width: 35%;
    padding: 40px;
}
.img {
    border: 3px solid #272938;
    padding: 20px;
    margin-bottom: 30px;
}
    .itemFavorite {
        display: flex;
        justify-content: flex-end;
    }
    .img img {
        width: 100%;
    }
.details {
    border: 3px solid #272938;
}
.details > div:first-child {
    border-bottom: 1px solid #272938;   
}
.details > div > p {
    margin: 15px 20px;
}
.detailRight {
    width: 65%;
    padding: 40px;
    display: flex;
    flex-flow: column;
    /* gap: 10px; */
}
.detailRight > div {
    /* flex: 1; */
    display: flex;
    /* flex-flow: column; */
}
    .titleWrap {
        flex-flow: column;
        flex: 1;
        margin-bottom: 10px;
    }
        .titleHead {
            display: flex;
            justify-content: space-between;
        }
            .itemCollection {
                color: #35F2FE;
                font-size: 21px;
            }
            .social {
                display: flex;
                gap: 20px;
            }
        .titleId {
            font-size: 40px;
            margin-top: 18px;
            margin-bottom: 22px;
        }
        .titleBottom {
            display: flex;
            justify-content: flex-start;
            gap: 30px;
        }
    .priceWrap {
        border: 2px solid #272938;
        padding: 0 24px 5px 24px;
        flex-flow: column;
        flex: 1;
        margin-bottom: 10px;
    }
        .priceWrap > p {
            flex: 1;
        }
        .priceWrap .ethereumSymbol {
            width: 1em;
            height: 1em;
            font-size: 52px;
        }
        .price {
            display: flex;
            flex: 1;
        }
        .btnBuyNow {
            flex: 1;
            width: 50%;
            background: #35F2FE22;
            color: #35F2FE75;
            border: none;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-size: 36px;
            font-weight: bold;
        }
        .btnBuyNow svg {
            height: 1em;
            width: 1em;
        }
    .offersWrap {
        border: 2px solid #272938;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px;
    }
        .offers {
            font-size: 36px;
        }
    .offersTbl {
        border: 2px solid #272938;
        border-bottom: none;
        border-top: none;
        border-spacing:0; /* Removes the cell spacing via CSS */
        border-collapse: collapse;  
    }
        .offersTbl td, th {
            border-bottom: 2px solid #272938;
            padding: 5px 0 5px 25px;
            font-size: 16px;
        }
        .offersTbl th {
            color: #BCBCBC;
            text-align: start;
        }
        .offersTbl td {
            color: white;
        }
        .offersTbl td svg {
            width: 1em;
            height: 1em;
            font-size: 16px;
        }
    .historyWrap {
        border: 2px solid #272938;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px;
        margin-top: 10px;
    }
        .history {
            font-size: 36px;
        }
    .historyTbl {
        border: 2px solid #272938;
        border-bottom: none;
        border-top: none;
        border-spacing:0; /* Removes the cell spacing via CSS */
        border-collapse: collapse;  
    }
        .historyTbl td, th {
            border-bottom: 2px solid #272938;
            padding: 5px 0 5px 25px;
            font-size: 16px;
        }
        .historyTbl th {
            color: #BCBCBC;
            text-align: start;
        }
        .historyTbl td {
            color: white;
        }
        .historyTbl td svg {
            width: 1em;
            height: 1em;
            font-size: 16px;
        }
.featured {
    margin: 0 40px;

}
    .featuredHead {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border: 2px solid #272938;
        border-bottom: none;
        padding: 5px 20px;
    }
    .featuredList {
        border: 2px solid #272938;
        padding: 25px;
        display: flex;
        gap: 10px;
    }