.walletWrap {
    display: flex;
    align-items: center;
}
.walletButton {
    font-size: 20px;
    padding: 10px;
    background: #FF01DD22;
    border-color: #FF01DD22;
    border-radius: 5px;
    color: #FF01DD75;
    font-weight: bold;
}