.home {
    margin: 30px 20px 50px 20px;
}
.homeHead {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
}
.introWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
    .introText {
        font-size: 60px;
        font-weight: bold;
        color: white;
    }
    .introBtnWrap {
        display: flex;
        justify-content: start;
        gap: 25px;
    }
    .introBtnWrap > button:first-child {
        font-size: 35px;
        padding: 0.2em 1em;
        color: #35F2FE75;
        font-weight: bolder;
        background: #35F2FE22;
        border: none;
        border-radius: 10px;
    }
    .introBtnWrap > button > a {
        text-decoration: none;
        font-size: 35px;
        color: #35F2FE75;
        font-weight: bolder;
    }
    .introBtnWrap > button:last-child {
        font-size: 35px;
        font-weight: bolder;
        padding: 0.2em 1em;
        color: #35F2FE75;
        background: #00052B;
        border: 1px #35F2FE solid;
        border-radius: 10px;
    }
    .buySOGE {
        font-size: 30px;
        color: white;
    }
        .buySOGE > svg {
            color: #35F2FE;
        }
        .buySOGE span {
            margin-left: 20px;
        }
.slide {
    width: 50%;
    position: relative;
}
    .slideWrap {
        position: relative;
    }
        .curSlide {
            z-index: 9;
            position: inherit;
            display: flex;
            justify-content: center;
        }
        .curSlide .slideThumbnail {
            width: 55%;
        }
        .curSlide .slideThumbnail>img{
            width: 100%;
            /* background-size: cover; */
        }
        .slideBack .slideThumbnail {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .slideBack .slideThumbnail>img, .slideBack .slideThumbnail .thumbDetailWrap{
            width: 70%;
            margin: 0 15%;
        }
        .slideBack {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            gap: 30px;

            width: 100%;
            height: 100%;            
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.3;  
        }
        .preSlide {

        }
        .nextSlide {

        }
    .slideControl {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 50%;
    }
        .slideControl button {
            background: transparent;
            border: none;
        }
    .slideThumbnail {

    }
    .thumbDetailWrap {
        background: white;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
    }
    .userLogoSlide {

    }
    .thumbDetail p:first-child {
        font-size: 18px;
        color: #07AFB9;
    }
    .thumbDetail p:last-child {
        color: #00052B;
        font-size: 18px;
    }
.featureWrap {

}
    .featureHeader {
        color: #FF01DD;
        font-size: 55px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 55px;
    }
    .featureItemWrap {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
    .featureItem {

    }
    .featureItemIcon {
        text-align: center;
        margin-bottom: 30px;
    }
    .featureItemHeader {
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-bottom: 15px;
    }
    .featureItemDetail {
        font-size: 18px;
        font-weight: lighter;
        color: white;
        width: 50%;
        margin: 0 25%;
        text-align: justify;
    }