.spaceNav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 3px solid #FF01DD49;
  font-family: veranda;
}
.logo img{
  max-height: 60px;
  padding: 10px;
}
.navFilterForm {
  width: 30%;
  display: flex;
  align-items: center;
}
.navFilterForm input {
  border-radius: 10px;
}
.navFilterInput {
  width: 80%;
  margin: 5px 20px;
  height: 40px;
  font-size: 20px;
  background: #00052B;
}
.navItemList {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 15px;
}
.navItemList > span {
  background: white;
  width: 2px;
  height: 70%;
  margin: auto 0;
}
.navListItem {
  list-style: none;
  display: flex;
  align-items: stretch;
}
.navListItemLink {
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navListItemLink:hover {
  color: #FF01DD;
}
.navListItemLinkActive {
  color: #FF01DD;
  border-bottom: 6px solid #FF01DD;
}
.navbarUserWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarUserContainer {
  display: flex;
  align-items: center;
}
.navbarUserContainer nav{
  border: 2px solid #272938;
  z-index: 15;
  background: #00052B;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  margin-right: 15px;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  
}
.navbarUserMenuTrigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}
.navbarUserMenuTrigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.navbarUserMenuTrigger:focus {
  outline: none;
}
.navbarUserMenuTrigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.navbarUserMenuTrigger img {
  border-radius: 90px;
}
.navbarUserNavActive {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0);
}
.navbarUserNavInactive {

}
.navbarUserContainer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbarUserContainer nav li {
  border-bottom: 2px solid #272938;
}

.navbarUserContainer nav li a {
  text-decoration: none;
  color: #707070;
  padding: 15px 20px;
  display: block;
}
.walletWrap {
  display: flex;
  align-items: center;
}
.walletButton {
  font-size: 20px;
  padding: 10px;
  background: #FF01DD22;
  border-color: #FF01DD22;
  border-radius: 5px;
  color: #FF01DD75;
  font-weight: bold;
}