.spaceNav {
  padding: 0;
  overflow: hidden;
  background-color: #00052B;
	
  margin-left: auto;
  margin-right: 0;
}
.logo {

}
.navFilterDiv {

}
.navFilterInput {

}
.spaceUnorderList {
  float: right;
  list-style-type: none;
  border-bottom: 3px solid transparent;
}
.spaceListItem:hover {
  border-bottom: 3px solid #FF01DD;
}
.spaceNavLink:active {
  border-bottom: 3px solid #FF01DD;
}
.spaceListItem {
	float: left;
}

.spaceNavLink {
	display: block;
  color: white;
	font-weight: bold;
	font-size: 30;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.spaceNavLinkActive {
  color: #FF01DD;
  border-bottom: 3px solid #FF01DD;
}
.spaceNavLink:hover {
	background-color: #111111;
}