.createWrap {
   color: white; 
   font-family: SpaceMarine;
}
.createWrap > p {
    margin-left: 25%;
}
.createForm {
    /* width: 40%; */
    /* margin: 0 25%; */
    /* border: 2px solid #272938; */
    display: flex;
    justify-content: space-around;
    padding: 39px 36px 89px 36px;
}
.createForm > div {
    margin-top: 20px;
    margin-bottom: 20px;
}
.colList {
    width: 100%;
    height: 42px;
    background: #00052B;
    border: 1px #272938 solid;
    border-radius: 20px;
    color: #9091A1;
    outline: none;
    /* background-image:
        linear-gradient(45deg, transparent 50%, blue 50%),
        linear-gradient(135deg, blue 50%, transparent 50%),
        linear-gradient(to right, skyblue, skyblue);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat; */
}
.artworkType {
    margin-top: 56px;
}
.typeGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.typeItem {
    background: #00052B;
    border: 2px #272938 solid;
    color: #9091A1;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
}
.typeItem:hover {
    border: 2px solid #FF01DD30;
    color: #FF01DD;
}
.createTitle {
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 85px;
}
.imgUpload {
    width: 20%;
}
.imgSelect {
    position: relative;
    padding: 4px;
    cursor: pointer;
    border: 3px dashed rgb(204, 204, 204);
    border-radius: 10px;
    height: 70%;
    margin: 15% 0;
    /* width: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgSelect:hover {
    background: #80808040;
}
.imgSelect input {
    display: none;
}
.imgUpload .headTxt::after, .name .headTxt::after {
    content: " *";
    color: rgb(235, 87, 87);
}
.preview {
    width: 100%;
    height: 100%;
}
.imgRemove {
    position: absolute;
    z-index: 1;
    right: 10px;
}
.image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detailsWrap {
    margin-top: 55px;
}
.headTxt {
    font-weight: 700;
    font-size: 25px;
    margin: 8px 0;
}
.name {
    margin-bottom: 16px;
    position: inherit;
}
/* .generalTxt {
    font-size: 20px;
    color: white;
    margin: 5px 0;
} */
.inputName, .inputDescription {
    background: #00052B;
    color: #9091A1;
    border: 2px #80808040 solid;
    border-radius: 15px;
    width: 100%;
    outline: none;
}
.inputName {
    height: 25px;
}
.name > span, .description > span {
    margin-left: 65px;
    display: inline-block;
    position: relative;
    left: -50%;
    transform: translateX(50%);
    color: #ffffff36;
}
.name > span {
    top: -27px;
}
.description {
    position: inherit;
}
.description > span {
    top: 27px;
}
.inputDescription {
    resize: vertical;
    height: 400px;
}

.formSubmit {
    font-size: 31px;
    margin: 56px 0 30px;
    padding: 5px 20px;
    background: #00052B;
    color: #9091A1;
    border-radius: 18px;
}