.marketplaceWrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}



.filter {
    width: 30%;
    border-right: 1px solid #FF01DD40;
    display: inline-block;
}
.list{
    width: 100%;
    padding: 30px 50px 20px;
    color: white;
    display: inline-block;
}
.backgroundVideo {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.listHeaderRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.listHeaderForm {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.listHeadInput {
    height: 30px;
    font-size: 15px;
    background: #00052B;
}
.listWrap {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
/* .listRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
} */
/* .listRow::after {
    content: "";
    display: table;
    clear: both;
} */
.filterListItem {
    list-style-type: none;
    color: white;
    font-size: 30px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 20px;
    border-bottom: 1px solid #FF01DD29;
}
.filterListMainItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filterListSubItem {
}
.filterSubitemStatusForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.filterSubitemStatusForm button {
    flex:0 0 45%;
    margin: 2px;
    height: 30px;
}
.filterSubitemPrice {

}
.filterSubitemPriceInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}
.filterSubitemPriceInput span {
    font-size: 18px;
    margin: 0 4px;
}
.listItem {
    border: 3px #70759c solid;
    width: 30%;
    padding: 20px 15px;
    border-radius: 5px;
}
.listItem a {
    text-decoration: none;
}
.itemFavorite {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.itemImg img {
    width: 100%;
}
.itemDesTop {
    display: flex;
    justify-content: space-between;
}
.itemOffer {
    display: flex;
    justify-content: flex-end;
    color: #FF01DD;
}
.itemCollection {
    color: #35F2FE
}
.itemId {
    font-weight: bold;
}